
body {
    background-color: black;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: auto;
    color: white;
}


.navbar {
    background-color: #007BFF; 
}


.navbar-brand {
    color: white;
    font-weight: bold;
}


.navbar-toggler-icon {
    background-color: white;
}


#container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


#card {
    background-color: #333; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}


#card img {
    width: 100px; 
    border-radius: 50%;
    cursor: pointer;
}


#card h6 {
    margin-top: 10px;
}
#deleteBtn{
    
    background-color: #bd5151;
    border: none;
    
}
#deleteBtn :hover{
    cursor: pointer;

}
  .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        
        /* Icon styles */
        .footer a {
            color: brown;
            text-decoration: none;
            margin: 0 10px;
        }
        
        /* Company name styles */
        .company-name {
            font-weight: bold;
        }



